:root {
  --light-mauve-color: #fff2f3;
  --mauve-color: #c38586;
  --light-orange-color: #fff6f0;
  --orange-color: #cb732a;
  --light-blue-color: #e3eaf0;
  --blue-color: #7184a1;
  --light-green-color: #e0e9e8;
  --light-purple-color: #f4f0fa;
  --purple-color: #7a659b;
  --green-color: #44626d;
  --light-grey: #656768;
}

body {
  background-color: #fffafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredericka the Great", cursive;
}

h2 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: var(--light-grey);
  font-size: 16px;
}

/*Nav Bar*/
.nav-logo {
  max-height: 130px;
}

.nav-logo-md {
  max-height: 50px;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  color: var(--light-grey);
  line-height: 130px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--light-grey);
  transition: all 130ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--mauve-color);
}

@media (max-width: 767px) {
  nav a {
    font-size: 12px;
  }
  nav li {
    line-height: 50px;
    margin-left: 7px;
  }
}

.hero {
  margin: 30px auto;
}

.hero-logo-left {
  text-align: right;
  font-size: 24px;
  color: var(--green-color);
}

.hero-logo {
  max-width: 100%;
}

.hero-logo-right {
  color: var(--green-color);
}

.hero-mobile {
  display: block;
  margin: 0 5%;
  margin-bottom: 30px;
}

/* Homepage content general */
.homepage-content-full-width {
  padding: 0 0;
}

.homepage-content-md-picture {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: auto;
}

.homepage-content-picture {
  max-width: 100%;
}

.homepage-content-img {
  padding: 0 0;
}

.p-md {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.box-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* Hello Section */
.hello {
  color: var(--orange-color);
}

.hello-md-section {
  background-color: var(--light-orange-color);
}

.hello-md {
  color: var(--orange-color);
  text-align: center;
}

.hello-lg-section {
  background-color: var(--light-orange-color);
  border-radius: 7px 0 0 7px;
  height: 500px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.hello-xl-section {
  background-color: var(--light-orange-color);
  border-radius: 7px 0 0 7px;
  height: 555px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.hello-xxl-section {
  background-color: var(--light-orange-color);
  border-radius: 10px 0 0 10px;
  height: 640px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.btn-about-md {
  display: block;
  margin: 0 auto;
  background: var(--orange-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-about-md:hover {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--orange-color);
  background: none;
  color: var(--orange-color);
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-about {
  display: block;
  width: 300px;
  background: var(--orange-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-about:hover {
  display: block;
  width: 300px;
  border: 1px solid var(--orange-color);
  background: none;
  color: var(--orange-color);
  border-radius: 4px;
  font-size: 18px;
}

/* Design Section */
.design {
  color: var(--mauve-color);
}

.design-md-section {
  background-color: var(--light-mauve-color);
}

.design-md {
  color: var(--mauve-color);
  text-align: center;
}

.design-lg-section {
  background-color: var(--light-mauve-color);
  border-radius: 0 7px 7px 0;
  height: 450px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.design-xl-section {
  background-color: var(--light-mauve-color);
  border-radius: 0 7px 7px 0;
  height: 555px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.design-xxl-section {
  background-color: var(--light-mauve-color);
  border-radius: 0 10px 10px 0;
  height: 640px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.btn-design-md {
  display: block;
  margin: 0 auto;
  background: var(--mauve-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-design-md:hover {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--mauve-color);
  background: none;
  color: var(--mauve-color);
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-design {
  display: block;
  width: 300px;
  background: var(--mauve-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-design:hover {
  display: block;
  width: 300px;
  border: 1px solid var(--mauve-color);
  background: none;
  color: var(--mauve-color);
  border-radius: 4px;
  font-size: 18px;
}

/* Tech Section */
.tech {
  color: var(--blue-color);
}

.tech-md-section {
  background-color: var(--light-blue-color);
}

.tech-md {
  color: var(--blue-color);
  text-align: center;
}

.tech-lg-section {
  background-color: var(--light-blue-color);
  border-radius: 7px 0 0 7px;
  height: 450px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.tech-xl-section {
  background-color: var(--light-blue-color);
  border-radius: 7px 0 0 7px;
  height: 555px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.tech-xxl-section {
  background-color: var(--light-blue-color);
  border-radius: 10px 0 0 10px;
  height: 640px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0 12px 0 50px;
}

.btn-tech-md {
  display: block;
  margin: 0 auto;
  background: var(--blue-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-tech-md:hover {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--blue-color);
  background: none;
  color: var(--blue-color);
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-tech {
  display: block;
  width: 300px;
  background: var(--blue-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-tech:hover {
  display: block;
  width: 300px;
  border: 1px solid var(--blue-color);
  background: none;
  color: var(--blue-color);
  border-radius: 4px;
  font-size: 18px;
}

/* Education Section */
.education {
  color: var(--green-color);
}

.education-md-section {
  background-color: var(--light-green-color);
}

.education-md {
  color: var(--green-color);
  text-align: center;
}

.education-lg-section {
  background-color: var(--light-green-color);
  border-radius: 0 7px 7px 0;
  height: 450px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.education-xl-section {
  background-color: var(--light-green-color);
  border-radius: 0 7px 7px 0;
  height: 555px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.education-xxl-section {
  background-color: var(--light-green-color);
  border-radius: 0 10px 10px 0;
  height: 640px;
  text-align: right;
  margin-left: 0;
  margin-right: 20px;
  padding: 0 50px 0 12px;
}

.btn-education-md {
  display: block;
  margin: 0 auto;
  background: var(--green-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-education-md:hover {
  display: block;
  margin: 0 auto;
  border: 1px solid var(--green-color);
  background: none;
  color: var(--green-color);
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-education {
  display: block;
  width: 300px;
  background: var(--green-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-education:hover {
  display: block;
  width: 300px;
  border: 1px solid var(--green-color);
  background: none;
  color: var(--green-color);
  border-radius: 4px;
  font-size: 18px;
}

/* Portfolio Page */
.progress-bar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.progress {
  background: white;
}

.progress-text {
  text-align: left;
  padding-left: 10px;
  margin-top: 4px;
  font-weight: 200;
  font-size: 10px;
}

.progress-percentage {
  text-align: right;
  padding-right: 5px;
  margin-top: 2px;
}

.portfolio-img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.design-background {
  background-color: var(--light-mauve-color);
}

.tech-background {
  background-color: var(--light-blue-color);
}

/*Design progess bar*/
.progress-bar-design {
  background: var(--mauve-color);
  font-family: "Poppins", sans-serif;
}

.progress-bar-title-design {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: var(--mauve-color);
}

.design-title {
  color: var(--mauve-color);
  font-size: 60px;
  text-align: center;
}

/* Design Portfolio Carousel */
.carousel-caption-design {
  color: var(--mauve-color);
}

.carousel-control-prev-icon-design {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c38586'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon-design {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23c38586'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/*Tech progess bar*/
.progress-bar-tech {
  background: var(--blue-color);
  font-family: "Poppins", sans-serif;
}

.progress-bar-title-tech {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: var(--blue-color);
}

.tech-title {
  color: var(--blue-color);
  font-size: 60px;
  text-align: center;
}

/* Tech Portfolio Carousel */
.carousel-caption-tech {
  color: var(--blue-color);
}

.carousel-control-prev-icon-tech {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237184a1'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon-tech {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237184a1'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/* Certificate Carousel */
.carousel-caption-certificate {
  color: var(--green-color);
}

.carousel-control-prev-icon-certificate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2344626d'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon-certificate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2344626d'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

/*About Page*/
.hello-picture-md {
  display: block;
  margin: 0 auto;
  width: 70%;
}
.hello-picture {
  max-width: 100%;
}

.about-hello-md {
  text-align: center;
  color: var(--orange-color);
}

/* Contact Page*/
.contact-heading {
  font-size: 50px;
  text-align: center;
  color: var(--green-color);
}

.calendly-heading {
  font-size: 50px;
  text-align: center;
  color: var(--green-color);
  padding-top: 20px;
  margin-bottom: 0;
}

.calendly-section {
  background-color: var(--light-green-color);
}

/* Contact footer general*/
.contact-md-purple {
  text-align: center;
  padding-top: 20px;
}

.contact-md-section-purple {
  text-align: center;
  padding-bottom: 25px;
}

.contact-xl-section-purple {
  display: flex;
  margin: 0 5%;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
}

.btn-contact-md-purple {
  display: block;
  margin: 0 auto;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-contact-md-purple:hover {
  display: block;
  margin: 0 auto;
  background: none;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-contact-purple {
  display: block;
  width: 200px;
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.btn-contact-purple:hover {
  display: block;
  width: 200px;
  background: none;
  border-radius: 4px;
  font-size: 18px;
}

/* Contact footer purple*/
.contact-purple {
  color: var(--purple-color);
}

.contact-md-purple {
  color: var(--purple-color);
}

.contact-md-section-purple {
  background-color: var(--light-purple-color);
}

.contact-xl-section-purple {
  background-color: var(--light-purple-color);
}

.btn-contact-md-purple {
  background: var(--purple-color);
}

.btn-contact-md-purple:hover {
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
}

.btn-contact-purple {
  background: var(--purple-color);
}

.btn-contact-purple:hover {
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
}
