:root {
  --light-mauve-color: #fff2f3;
  --mauve-color: #c38586;
  --light-orange-color: #faf1eb;
  --orange-color: #cb732a;
  --light-blue-color: #e3eaf0;
  --blue-color: #7184a1;
  --light-green-color: #e0e9e8;
  --green-color: #44626d;
  --light-grey: #656768;
}

body {
  background: #faf1eb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredericka the Great", cursive;
}

h2 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: var(--light-grey);
}

.hero {
  margin: 50px auto;
}

.hero-logo-left {
  text-align: right;
  font-size: 24px;
  color: var(--green-color);
}

.hero-logo {
  max-width: 100%;
}

.hero-logo-right {
  color: var(--green-color);
}

.hero-mobile {
  display: block;
  margin: 30px 5%;
}

.homepage-content {
  display: block;
  margin-right: 0;
  width: 100%;
  padding: 0 0;
}

.portfolio-picture {
  max-width: 100%;
}

.hello-section {
  background-color: var(--light-orange-color);
}

.hello {
  color: var(--orange-color);
  background: var(--light-orange-color);
}

.btn-about {
  background: var(--orange-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 10px 60px;
}
