:root {
  --light-mauve-color: #fff2f3;
  --mauve-color: #c38586;
  --light-orange-color: #faf1eb;
  --orange-color: #cb732a;
  --light-blue-color: #e3eaf0;
  --blue-color: #7184a1;
  --light-green-color: #e0e9e8;
  --green-color: #44626d;
  --light-grey: #656768;
}

body {
  background-color: #fffafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fredericka the Great", cursive;
}

h2 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: var(--light-grey);
  font-size: 16px;
}

.hero {
  margin: 50px auto;
}

.hero-logo-left {
  text-align: right;
  font-size: 24px;
  color: var(--green-color);
}

.hero-logo {
  max-width: 100%;
}

.hero-logo-right {
  color: var(--green-color);
}

.hero-mobile {
  display: block;
  margin: 30px 5%;
}

/* Homepage content general */
.homepage-content-full-width {
  padding: 0 0;
}

.homepage-content-md-picture {
  display: block;
  margin: 0 auto;
  height: 350px;
  width: auto;
}

.homepage-content-picture {
  max-width: 100%;
}

.homepage-content-img {
  padding: 0 0;
}

.p-md {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.box-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

/* Hello Section */
.hello-md-section {
  background-color: var(--light-orange-color);
}

.hello-lg-section {
  background-color: var(--light-orange-color);
  border-radius: 4px 0 0 4px;
  margin-left: 70px;
  margin-right: 0%;
  padding: 1% 12px 1% 50px;
}

.hello-xl-section {
  background-color: var(--light-orange-color);
  border-radius: 4px 0 0 4px;
  margin-left: 50px;
  margin-right: 0%;
  padding: 2% 12px 2% 50px;
}

.hello-md {
  color: var(--orange-color);
  text-align: center;
}

.hello {
  color: var(--orange-color);
}

.btn-about-md {
  display: block;
  margin: 0 auto;
  background: var(--orange-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  width: 60%;
}

.btn-about {
  display: block;
  width: 300px;
  background: var(--orange-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

/* Design Section */
.design {
  color: var(--mauve-color);
}

.design-xl-section {
  background-color: var(--light-mauve-color);
  border-radius: 4px 0 0 4px;
  height: 600px;
  text-align: right;
  margin-right: 50px;
  padding: 2% 50px 2% 12px;
}

.btn-design {
  display: block;
  width: 300px;
  background: var(--mauve-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}
